POSTGRES_PORT=5434
POSTGRES_DB=precia_landing
POSTGRES_USER=precia_landing
POSTGRES_PASSWORD=precia_landing

DATABASE_URL="postgresql://precia_landing:precia_landing@localhost:5434/precia_landing"

NEXT_PUBLIC_SITE_URL="https://precia.site"
